PORT=           # PORT to use locally. For example: 5005
ORIGIN=         # URL of Client for CORS. For example: "http://localhost:5173"
MONGODB_URI=    # Location of MongoDB Database. For example: "mongodb://127.0.0.1:27017/my-database"
SECRET_TOKEN=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_NAME=
STRIPE_SECRET_KEY=
STRIPES_PUBLIC=